<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ai_bulletin_board</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>cn.bd.user.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Virus_number</display-name>
    <servlet-name>Virus_number</servlet-name>
    <servlet-class>cn.bd.user.servlet.Virus_number</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Virus_number</servlet-name>
    <url-pattern>/Virus_number</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>cn.bd.pub.servlet.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Urgent_info_list</display-name>
    <servlet-name>Urgent_info_list</servlet-name>
    <servlet-class>cn.bd.pub.servlet.Urgent_info_list</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Urgent_info_list</servlet-name>
    <url-pattern>/Urgent_info_list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Urgent_info_add</display-name>
    <servlet-name>Urgent_info_add</servlet-name>
    <servlet-class>cn.bd.pub.servlet.Urgent_info_add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Urgent_info_add</servlet-name>
    <url-pattern>/Urgent_info_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Urgent_info_rectify</display-name>
    <servlet-name>Urgent_info_rectify</servlet-name>
    <servlet-class>cn.bd.pub.servlet.Urgent_info_rectify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Urgent_info_rectify</servlet-name>
    <url-pattern>/Urgent_info_rectify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Urgent_info_del</display-name>
    <servlet-name>Urgent_info_del</servlet-name>
    <servlet-class>cn.bd.pub.servlet.Urgent_info_del</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Urgent_info_del</servlet-name>
    <url-pattern>/Urgent_info_del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Big_pic_upload</display-name>
    <servlet-name>Big_pic_upload</servlet-name>
    <servlet-class>cn.bd.pub.servlet.Big_pic_upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Big_pic_upload</servlet-name>
    <url-pattern>/Big_pic_upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Lock</display-name>
    <servlet-name>Lock</servlet-name>
    <servlet-class>cn.bd.user.servlet.Lock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lock</servlet-name>
    <url-pattern>/Lock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Left_pic2_upload</display-name>
    <servlet-name>Left_pic2_upload</servlet-name>
    <servlet-class>cn.bd.pub.servlet.Left_pic2_upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Left_pic2_upload</servlet-name>
    <url-pattern>/Left_pic2_upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Left_pic1_upload</display-name>
    <servlet-name>Left_pic1_upload</servlet-name>
    <servlet-class>cn.bd.pub.servlet.Left_pic1_upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Left_pic1_upload</servlet-name>
    <url-pattern>/Left_pic1_upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Information_add</display-name>
    <servlet-name>Information_add</servlet-name>
    <servlet-class>cn.bd.pub.servlet.Information_add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Information_add</servlet-name>
    <url-pattern>/Information_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Information_list</display-name>
    <servlet-name>Information_list</servlet-name>
    <servlet-class>cn.bd.pub.servlet.Information_list</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Information_list</servlet-name>
    <url-pattern>/Information_list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Information_rectify</display-name>
    <servlet-name>Information_rectify</servlet-name>
    <servlet-class>cn.bd.pub.servlet.Information_rectify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Information_rectify</servlet-name>
    <url-pattern>/Information_rectify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Information_del</display-name>
    <servlet-name>Information_del</servlet-name>
    <servlet-class>cn.bd.pub.servlet.Information_del</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Information_del</servlet-name>
    <url-pattern>/Information_del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Surrounding_info_add</display-name>
    <servlet-name>Surrounding_info_add</servlet-name>
    <servlet-class>cn.bd.pub.servlet.Surrounding_info_add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Surrounding_info_add</servlet-name>
    <url-pattern>/Surrounding_info_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Surrounding_info_list</display-name>
    <servlet-name>Surrounding_info_list</servlet-name>
    <servlet-class>cn.bd.pub.servlet.Surrounding_info_list</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Surrounding_info_list</servlet-name>
    <url-pattern>/Surrounding_info_list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Surrounding_info_del</display-name>
    <servlet-name>Surrounding_info_del</servlet-name>
    <servlet-class>cn.bd.pub.servlet.Surrounding_info_del</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Surrounding_info_del</servlet-name>
    <url-pattern>/Surrounding_info_del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Surrounding_info_rectify</display-name>
    <servlet-name>Surrounding_info_rectify</servlet-name>
    <servlet-class>cn.bd.pub.servlet.Surrounding_info_rectify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Surrounding_info_rectify</servlet-name>
    <url-pattern>/Surrounding_info_rectify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index_info_list</display-name>
    <servlet-name>Index_info_list</servlet-name>
    <servlet-class>cn.bd.pub.servlet.Index_info_list</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index_info_list</servlet-name>
    <url-pattern>/Index_info_list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index_info_rectify</display-name>
    <servlet-name>Index_info_rectify</servlet-name>
    <servlet-class>cn.bd.pub.servlet.Index_info_rectify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index_info_rectify</servlet-name>
    <url-pattern>/Index_info_rectify</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/other_page/error404.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/other_page/error404.html</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Ad_pic_upload</display-name>
    <servlet-name>Ad_pic_upload</servlet-name>
    <servlet-class>cn.bd.pub.servlet.Ad_pic_upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ad_pic_upload</servlet-name>
    <url-pattern>/Ad_pic_upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>cn.bd.user.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>